.box {
  padding: 15px 5px 5px;
  border: 1px solid $color-light;
  margin: 0 10px;
  position: relative;
  text-align: center;
  width: 125px;
  height: 125px;
  cursor: pointer;

  &.box--waitid {
    width: 150px;
    height: 130px;
    margin-bottom: 30px;
  }
}

.box__headline {
  font-size: 1.25rem;
  font-weight: 700;

  &.box__headline--large {
    font-size: 1.75rem;
  }
}

.box__time {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 3px;
  left: 5px;
  right: 5px;
  font-size: 0.8rem;
}

.box__list {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.box__list--waitid {
  padding-bottom: 30px;
}

.box__list--waitid-enabled {
  border-bottom: 1px solid $color-light;
}
