.button-toggle {
  text-decoration: none;
  color: $color-dark;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  float: left;
  padding: 10px;
  cursor: pointer;
  position: relative;
  width: 100%;

  &.button-toggle--comment {
    text-align: left;
    max-width: 200px;
    height: 41px;
  }

  &.button-toggle--shadow {
    box-shadow: 0 1px 1.5px 0 rgba(black, 0.12), 0 1px 1px 0 rgba(black, 0.24);
  }

  &.button-toggle--short {
    width: 50px;
  }

  &.button-toggle--long {
    width: 85px;
  }

  &.button-toggle--highlight {
    background: rgba($color-accent-secondary, 0.3);

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3px;
      background-color: $color-accent-secondary;
    }
  }
}

.button-toggle + .button-toggle {
  border-left: 1px solid rgba($color-neutral, 0.3);
}
