.button {
  display: inline-block;
  background: white;
  border: 1px solid black;
  padding: 5px 10px;
  text-decoration: none;
  color: black;

  &.button--active {
    background-color: $color-light;
  }

  &.button--delete {
    position: relative;
    padding: 12px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 20%;
      right: 20%;
      top: 50%;
      background: black;
      height: 1px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
