.form {
  display: block;
}

.form__label {
  &.form__label--left {
    float: left;
    width: 30%;
  }
}

.form__select {
  display: block;
  margin-bottom: 50px;
}

.form__radio-input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.form__radio-wrap {
  margin-bottom: 50px;
}

.form__text-input {
  border: 1px solid black;
  width: 54%;
  font-size: 18px;
  display: block;
  margin-bottom: 50px;
}

.form__radio-wrap .form__text-input,
.form__radio-label {
  display: inline-block;
  padding: 7px 17px;
  margin-right: 5px;
  background-color: white;
  border: 1px solid black;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
}

.form__radio-wrap .form__text-input {
  max-width: 47px;
  padding-left: 8px;
  padding-right: 8px;
}

.form__radio-input:checked + .form__radio-label {
  background: $color-light;
}

.form__submit {
  appearance: none;
  display: inline-block;
  position: fixed;
  bottom: 5%;
  right: 3%;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  background-color: lightgreen;
  border: none;
  box-shadow: 0 3px 3px 0 rgba(black, 0.16), 0 3px 3px 0 rgba(black, 0.23);

  &::after,
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    height: 3px;
    background-color: white;
  }

  &::before {
    width: 25%;
    top: 60%;
    transform: rotate(45deg);
    left: 20%;
  }

  &::after {
    width: 55%;
    right: 12%;
    transform: rotate(-45deg);
    top: 50%;
  }
}

.form__checkbox-input {
  margin-bottom: 50px;
}
