.form {
  display: block;
}

.form__label {
  color: $color-dark;
  font-size: 1.5rem;
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}

.form__select {
  display: block;
  margin-bottom: 50px;
}

.form__radio-input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.form__radio-wrap {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 1px 1.5px 0 rgba(black, 0.12), 0 1px 1px 0 rgba(black, 0.24);
  height: 41px;
  margin-bottom: 25px;

  &.form__radio-wrap--condensed {
    width: 25%;
  }
}

.form__radio-input:checked + .button-toggle {
  background: rgba($color-accent-primary, 0.3);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: $color-accent-primary;
  }
}

.form__text-input {
  font-size: 1rem;
  box-shadow: 0 1px 1.5px 0 rgba(black, 0.12), 0 1px 1px 0 rgba(black, 0.24);
  border: none;
  line-height: 2;
  padding: 0 10px;
  height: 41px;
  margin-bottom: 25px;
  width: 100%;
}

.form__submit-wrap {
  text-align: center;
}

.form__submit {
  appearance: none;
  display: inline-block;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  font-size: 1.3rem;

  &.form__submit--success {
    background-color: $color-accent-primary;
    color: white;
  }

  &.form__submit--cancel {
    background-color: $color-light;
    color: $color-dark;
  }
}
