.form {
  display: block;
}

.form__label {
  &.form__label--left {
    float: left;
    margin-right: 20px;
  }
}

.form__radio-input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.form__radio-wrap .form__text-input,
.form__radio-label {
  display: inline-block;
  padding: 7px 17px;
  background-color: white;
  border: 1px solid black;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
}

.form__radio-wrap .form__text-input {
  max-width: 47px;
  padding-left: 0;
  padding-right: 0;
}

.form__radio-input:checked + .form__radio-label {
  background: $color-light;
}
