.guest {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.guest * {
  display: inline-block;
}

.guest__list-item {
  display: block;
}

.guest__form {
  display: none;
}

.guest__form--expanded {
  display: block;
}
