.hamburger {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 20px;
  width: 30px;
  z-index: 10;
}

.hamburger__inner::before,
.hamburger__inner {
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background: black;
  border-radius: 4px;
}

.hamburger__inner {
  top: 50%;
  transform: translateY(-50%);

  &::before {
    content: '';
    top: -8px;
  }
}

.hamburger--active {
  .hamburger__inner {
    transform: rotate(45deg) translateY(-50%);

    &::before {
      transform: rotate(90deg);
      top: 0;
    }
  }
}
