.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-light;
  overflow: auto;
  font-size: 130%;
  padding: 10px 30px;
  box-shadow: 0 1px 1.5px 0 rgba(black, 0.12), 0 1px 1px 0 rgba(black, 0.24);
  margin-bottom: 10px;
}

.header__time {
  display: inline-block;
}

.header__branding {
  display: inline-block;
}
