.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  font-size: 130%;
  padding: 0 30px;
  border-bottom: 1px solid $color-light;
}

.header__branding {
  display: inline-block;
}

.header__statistics-list {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  width: 300px;
}
