.modal {
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: 100;
  background: white;
  padding: 10px;
  white-space: nowrap;
  box-shadow: 0 3px 3px 0 rgba(black, 0.16), 0 3px 3px 0 rgba(black, 0.23);

  &.modal--hidden {
    display: none;
  }
}

.modal__list-item {
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
}
