.popup {
  &.popup--visible {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px 30px;
    background-color: white;
    border-radius: 3px;
    width: 75%;
    box-shadow: 0 3px 3px 0 rgba(black, 0.16), 0 3px 3px 0 rgba(black, 0.23);
    overflow: hidden;
    z-index: 100;
  }

  &--visible.popup--new-waitid {
    width: 40%;
  }
}

.popup__toggle {
  cursor: pointer;
  box-shadow: 0 3px 3px 0 rgba(black, 0.16), 0 3px 3px 0 rgba(black, 0.23);

  &.popup__toggle--new-waitid,
  &.popup__toggle--new-guest {
    display: inline-block;
    position: fixed;
    z-index: 5;
    bottom: 10%;
    right: 10%;
    background: $color-create;
    padding: 40px;
    border-radius: 40px;
    transition: transform 300ms ease-in, background-color 300ms ease-in;
  }

  &.popup__toggle--hidden {
    display: none;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    background: white;
  }

  &::before {
    height: 45%;
    width: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    width: 45%;
    height: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.popup__content {
  display: none;
}

.popup--visible .popup__content {
  display: block;
}
