.table {
  position: relative;
  width: 100%;

  &.table--faded {
    opacity: 0.2;
  }
}

.table__head {
  display: grid;
  grid-template-columns: 1fr 1fr 130px 300px 130px 2fr;
  grid-gap: 20px;
  font-size: 10px;
  color: lighten($color-dark, 20%);
}

.table__row {
  display: grid;
  grid-template-columns: 1fr 1fr 160px 300px 130px 2fr;
  grid-gap: 20px;
  border-bottom: 1px solid #bfc5c6;

  &:last-of-type {
    border: none;
  }

  &.table__row--highlight {
    background: $color-light;
  }

  &.table__row--appear {
    opacity: 1;
  }
}

.table__head > .table__row {
  color: #333333;
  font-weight: bolder;
}

.table__body > .table__row {
  color: #555555;
}

.table__body {
  display: grid;

  &.table__body--history {
    .table__row:nth-child(1) {
      opacity: 0.7;
    }

    .table__row:nth-child(2) {
      opacity: 0.7;
    }

    .table__row:nth-child(3) {
      opacity: 0.6;
    }

    .table__row:nth-child(4) {
      opacity: 0.6;
    }

    .table__row:nth-child(5) {
      opacity: 0.5;
    }

    .table__row:nth-child(6) {
      opacity: 0.4;
    }

    .table__row:nth-child(7) {
      opacity: 0.3;
    }

    .table__row:nth-child(8) {
      opacity: 0.2;
    }

    .table__row:nth-child(9) {
      opacity: 0.2;
    }

    .table__row:nth-child(10) {
      opacity: 0.2;
    }
  }
}

.table__column {
  display: flex;
  align-items: center;
  position: relative;
  overflow: visible;

  &.table__column--arrival-time {
    float: left;
    padding: 10px;
  }

  &.table__column--danger-text {
    color: red;
  }

  &.table__column--comment {
    width: 300px;
  }
}

.table__head .table__column {
  padding: 0.5rem 10px;
}

.table__body .table__column {
  padding: 1rem 10px;
}

.table__column--settings {
  position: relative;
  width: 50px;
}

.table__caption {
  padding: 7px 10px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  color: lighten($color-dark, 20%);
  background-color: $color-section;
}

.table__caption-sub {
  text-transform: initial;
  font-style: italic;
  color: $color-neutral;
  font-size: 1rem;
  margin-left: 5px;
  font-weight: 400;
}
