.table {
  display: table;
  position: relative;
  width: 100%;
  border-collapse: collapse;

  &.table--faded {
    opacity: 0.2;
  }
}

.table__head {
  display: table-header-group;
}

.table__row {
  display: table-row;
  border-bottom: 1px solid #bfc5c6;

  &:last-of-type {
    border: none;
  }

  &.table__row--highlight {
    background: $color-light;
  }
}

.table__head--hidden {
  visibility: collapse;

  .table__row {
    border: none;
  }
}

.table__body {
  display: table-row-group;

  &.table__body--history {
    opacity: 0.4;
  }
}

.table__head > .table__row {
  color: #333333;
  font-weight: bolder;
}

.table__body > .table__row {
  color: #555555;
}

.table__column {
  display: table-cell;
  position: relative;
  overflow: visible;

  &.table__column--danger-text {
    color: red;
  }

  &.table__column--comment {
    width: 200px;
  }
}

.table__head .table__column {
  padding: 0.5rem 10px;
}

.table__body .table__column {
  padding: 1rem 10px;
}

.table__column--settings {
  position: relative;
  width: 50px;
}

.table__caption {
  padding: 7px 10px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  color: lighten($color-dark, 20%);
  background-color: $color-section;

  &.table__caption--table {
    display: table-caption;
  }
}

.table__caption-sub {
  text-transform: initial;
  font-style: italic;
  color: $color-neutral;
  font-size: 1rem;
  margin-left: 5px;
  font-weight: 400;
}
