.table {
  display: table;
  position: relative;
  width: 100%;
  border-collapse: collapse;

  &.table--faded {
    opacity: 0.2;
  }
}

.table__head {
  display: table-header-group;
}

.table__body {
  display: table-row-group;

  &.table__body--history {
    border-top: 2px solid black;
    opacity: 0.4;
  }
}

.table__row {
  display: table-row;
  border-bottom: 1px solid #bfc5c6;

  &.table__row--highlight {
    background: $color-light;
  }
}

.table__head > .table__row {
  color: #333333;
  background-color: $color-light;
  font-weight: bolder;
  box-shadow: 0 1px 1.5px 0 rgba(black, 0.12), 0 1px 1px 0 rgba(black, 0.24);
}

.table__body > .table__row {
  color: #555555;
}

.table__column {
  display: table-cell;
  position: relative;
  overflow: visible;

  &.table__column--danger-text {
    color: red;
  }

  &.table__column--comment {
    width: 200px;
  }
}

.table__head .table__column {
  padding: 0.5rem 10px;
}

.table__body .table__column {
  padding: 1rem 10px;
}
