.time {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  line-height: 1.7;
  font-size: 14px;
  font-weight: bold;
  color: $color-darkish;
  background-color: $color-section;
}
