.title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  color: $color-neutral;

  &--primary {
    color: $color-accent-primary;
    margin-bottom: 10px;
  }

  &.title--medium {
    font-size: 120%;
    font-weight: normal;
    text-transform: none;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
  }
}
